/** =========================================
 * Functions
 ===========================================*/
/** =========================================
 * Tint
 ===========================================*/
/**
 * Lighten a color
 * @access public
 * @param {Color} $color - color to tint
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 */
/** =========================================
 * Shade
 ===========================================*/
/**
 * Darken a color
 * @access public
 * @param {Color} $color - color to shade
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 */
/** =========================================
 * Functions
 ===========================================*/
/** =========================================
 * Functions
 ===========================================*/
/** =========================================
 * Tint
 ===========================================*/
/**
 * Lighten a color
 * @access public
 * @param {Color} $color - color to tint
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 */
/** =========================================
 * Shade
 ===========================================*/
/**
 * Darken a color
 * @access public
 * @param {Color} $color - color to shade
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 */
/** =========================================
 * Variables
 ===========================================*/
/** -----------------------------------------
 * Project
 * ----------------------------------------*/
/** -----------------------------------------
 * Boilerplate
 * ----------------------------------------*/
/** =========================================
 * Variables
 ===========================================*/
/** =========================================
 * Globals
 ===========================================*/
/** =========================================
 * Animation
 ===========================================*/
/** =========================================
 * Screen Sizes
 ===========================================*/
/** =========================================
 * Fonts
 ===========================================*/
/** -----------------------------------------
 * Headings
 -------------------------------------------*/
/** -----------------------------------------
 * Line Height
 -------------------------------------------*/
/** =========================================
 * Sizing
 ===========================================*/
/** =========================================
 * Grid
 ===========================================*/
/** =========================================
 * Container
 ===========================================*/
/** =========================================
 * Colors
 ===========================================*/
/** -----------------------------------------
 * Shades
 -------------------------------------------*/
/** -----------------------------------------
 * Brands
 -------------------------------------------*/
/** -----------------------------------------
 * Text
 -------------------------------------------*/
/** =========================================
 * Border Radii
 ===========================================*/
/** =========================================
 * Components
 ===========================================*/
/** =========================================
 * Components
 ===========================================*/
/** =========================================
 * Alerts
 ===========================================*/
/** =========================================
 * Animation
 ===========================================*/
/** =========================================
 * Buttons
 ===========================================*/
/** =========================================
 * Close
 ===========================================*/
/** =========================================
 * Forms
 ===========================================*/
/** =========================================
 * Modal
 ===========================================*/
/** =========================================
 * Navigation
 ===========================================*/
/** =========================================
 * Pagination
 ===========================================*/
/** =========================================
 * Sidebar
 ===========================================*/
/** =========================================
 * Modules
 ===========================================*/
/** =========================================
 * Modules
 ===========================================*/
/** =========================================
 * Popout Menu
 ===========================================*/
/** =========================================
 * Slider
 ===========================================*/
/*!
======================================================================
    Editors
======================================================================
*/
/** -----------------------------------------
 * Heading
 -------------------------------------------*/
.h1 {
  font-size: 2em; }

.h2 {
  font-size: 1.5em; }

.h3 {
  font-size: 1.17em; }

/** -----------------------------------------
 * Text
 -------------------------------------------*/
.text-primary {
  color: #2196F3; }

.text-secondary {
  color: #4c5357; }

/** -----------------------------------------
 * Buttons
 -------------------------------------------*/
.mceContentBody .btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.75em 1em;
  border-radius: 2px; }
  .mceContentBody .btn.btn-default {
    background: #fff;
    color: #212121;
    border-color: #fff; }
    .mceContentBody .btn.btn-default.btn-bordered {
      color: #fff; }
  .mceContentBody .btn.btn-primary {
    background: #2196F3;
    color: #fff;
    border-color: #2196F3; }
    .mceContentBody .btn.btn-primary.btn-bordered {
      color: #2196F3; }
  .mceContentBody .btn.btn-secondary {
    background: #4c5357;
    color: #fff;
    border-color: #4c5357; }
    .mceContentBody .btn.btn-secondary.btn-bordered {
      color: #4c5357; }
  .mceContentBody .btn.btn-bordered {
    background: transparent none;
    border: 1px solid; }
  .mceContentBody .btn.btn-lg {
    font-size: 1.4em; }
  .mceContentBody .btn.btn-sm {
    font-size: 0.9em; }

/*# sourceMappingURL=editor.css.map */
